// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

// Variables
@import '_variables';

// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';

//header + footer
@import 'header';
@import 'footer';

body {
    background: #F7F5FB;
}

header {
    background: #989b9e;

    .top-header {
        background: #ffffff;
    }
}

footer {
    background: #989b9e;
}
